<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!--<![endif]-->
<!--<![endif]-->
<html lang="en">
<head>
<title>iWorkSync-AD</title>
<meta charset="utf-8">
<!-- Meta -->
<meta name="keywords" content="" />
<meta name="author" content="">
<meta name="robots" content="" />
<meta name="description" content="" />

<!-- this styles only adds some repairs on idevices  -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico">

<!-- Google fonts - witch you want to use - (rest you can just remove) -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600" rel="stylesheet">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Stylesheets -->
<link rel="stylesheet" media="screen" href="js/bootstrap/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="js/mainmenu/menu.css" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />
<link rel="stylesheet" href="css/layouts.css" type="text/css" />
<link rel="stylesheet" href="css/shortcodes.css" type="text/css" />
<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="css/responsive-leyouts.css" type="text/css" />
<link rel="stylesheet" href="js/masterslider/style/masterslider.css" />
<link href="js/animations/css/animations.min.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="css/Simple-Line-Icons-Webfont/simple-line-icons.css" media="screen" />
<link rel="stylesheet" href="css/et-line-font/et-line-font.css">
<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
<link rel="stylesheet" href="js/jFlickrFeed/style.css" />





<!-- Remove the below comments to use your color option -->
<!--<link rel="stylesheet" href="css/colors/red.css" />-->
<!--<link rel="stylesheet" href="css/colors/lightblue.css" />-->
<!--<link rel="stylesheet" href="css/colors/green.css" />-->
<link rel="stylesheet" href="css/colors/orange.css" />
<!--<link rel="stylesheet" href="css/colors/pink.css" />-->
<!--<link rel="stylesheet" href="css/colors/blue.css" />-->
<!--<link rel="stylesheet" href="css/colors/purple.css" />-->
<!--<link rel="stylesheet" href="css/colors/bridge.css" />-->
<!--<link rel="stylesheet" href="css/colors/yellow.css" />-->
<!--<link rel="stylesheet" href="css/colors/violet.css" />-->
<!--<link rel="stylesheet" href="css/colors/cyan.css" />-->
<!--<link rel="stylesheet" href="css/colors/mossgreen.css" />-->

</head>

<body>
<div class="site_wrapper">
  <div class="topbar dark topbar-padding">
    <div class="container">
      <div class="topbar-left-items">
        <ul class="toplist toppadding pull-left paddtop1">
          <li class="rightl">Customer Care</li>
          <li>(888) 123-4567</li>
        </ul>
      </div>
      <!--end left-->
      
      <div class="topbar-right-items pull-right">
        <ul class="toplist toppadding">
           <li class="lineright"><a href=""  data-toggle="modal" data-target="#myModal">Login</a></li>
            <div id="myModal" class="modal login-modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header" style="border: none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                  </div>
                  <div class="modal-body">
                    <a class="standard" href="http://iworksync.com/login.php">Premium</a>
                    <a class="premium" href="http://iworksync.com/ebs/standard/login.php">Standard</a>

                  </div>
                </div>
              </div>
            </div>
          <li class="lineright"><a href="#">Register</a></li>
          <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
          <li><a href="https://twitter.com/iantz8" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://plus.google.com/112928428832685655534" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <!-- <li class="last"><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div id="header">
    <div class="container">
      <div class="navbar orange navbar-default yamm">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle two three"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <a href="index.html" class="navbar-brand"><img src="images/logo.png" alt=""/></a> </div>
        <div id="navbar-collapse-grid" class="navbar-collapse collapse pull-right">
          <ul class="nav orange navbar-nav">
            <li><a href="index.html" class="dropdown-toggle">Home</a></li>
            <li><a href="about.html" class="dropdown-toggle">About</a></li>
            <li><a href="features.html" class="dropdown-toggle active">Features</a></li>
            <li><a href="pricing.html" class="dropdown-toggle">Pricing</a></li>
            <li><a href="benefits.html" class="dropdown-toggle">Benefits</a></li>
            <li><a href="contact.html" class="dropdown-toggle">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--end menu-->
  <div class="clearfix"></div>
  
  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase oswald">Features</h4>
        <h5 class="text-white uppercase">“A Complete resource for media business management at your par.”</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="images/1920x600-02.jpg" alt="" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>
  
 <section class=" sec-tpadding-2 section-fulldark">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class=" oswald text-white">Features</h2>
          <div class="title-line-4 orange-3 less-margin align-center"></div>
          <p class="sub-title-2">A usability application to oversee single or various office paying little mind to 
the geographic limits</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  <!--end item -->
  <div class="clearfix"></div>
  
  <section class="sec-bpadding-2 section-fulldark">
    <div class="container">
    	<div class="row">
    		<div class="col-sm-6">


    			<ul class="iconlist green-4">
            <li><span class="text-icon">Customizable Dashboard for every single user</span></li>
            <li><span class="text-icon">20+ Reports includes Revenue Report, Receviable Report, MRV Report</span></li>
            <li><span class="text-icon">26 Types of Estimates can be created against a Job</span>
            </li>
            <li><span class="text-icon"> CMR to Receivable Management </span></li>
            <li><span class="text-icon"> Automatic RO generation for different publication from a single estimate</span></li>
            <li><span class="text-icon"> Different Levels of Approval for Accountability</span></li>
            <li><span class="text-icon"> Options for Revised Estimate</span></li>
            <li><span class="text-icon"> Reports with option to Export to PDF, EXCEL</span></li>
            
          </ul>
    		</div>
    		<div class="col-sm-6">
    			<ul class="iconlist green-4">
                	<li><span class="text-icon"> Adaptable Settings Management</span></li>
                	<li><span class="text-icon"> Flexible User Access Rights</span></li>
                	<li><span class="text-icon"> Immaculate Calculations</span></li>
                  <li><span class="text-icon"> Job History Tracker</span></li>
                  <li><span class="text-icon"> Tabbing System keeps you in a solitary window with no reloads of Whole page</span></li>
                  <li><span class="text-icon"> Eye catching Look and Feel</span></li>
                  <li><span class="text-icon"> Intensive search options</span></li>
              	</ul>
    		</div>
    	</div>
    </div>
  </section>
  <!--end item -->
  <div class="clearfix"></div>
  
  <section class="section-orange-3 section-less-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h3 class="less-mar3 oswald text-white">Let iWorkSync-AD software work for you.</h3>
          <p class="text-white">iWorkSync-AD is a fully integrated ad business management solution designed specifically for ad agency & media companies business.</p>
        </div>
        <div class="col-md-3">
          <div class="margin-top2"></div>
          <a class="btn btn-border white btn-large pull-right" href="benefits.html">Read more</a> </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <section class="section-copyrights sec-moreless-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> <span>Copyright &copy; 2018 l iantz.in. All rights reserved.</span></div>
        <ul class="social-icons-3 dark-2">
           <li><a class="twitter" href="https://twitter.com/iantz8" target="_blank"><i class="fa fa-twitter"></i></a></li>
           <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
           <li><a href="https://plus.google.com/112928428832685655534" target="_blank"><i class="fa fa-google-plus"></i></a></li>
           <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
           <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
         </ul>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <a href="#" class="scrollup orange-3"></a><!-- end scroll to top of the page--> 
</div>
<!-- end site wraper --> 

<!-- ============ JS FILES ============ --> 

<script type="text/javascript" src="js/universal/jquery.js"></script> 
<script src="js/bootstrap/bootstrap.min.js" type="text/javascript"></script> 
<script src="js/jFlickrFeed/jflickrfeed.min.js"></script> 
<script>
$('#basicuse').jflickrfeed({
limit: 6,
qstrings: {
id: '133294431@N08'
},
itemTemplate: 
'<li>' +
'<a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a>' +
'</li>'
});
</script> 
<script src="js/mainmenu/customeUI.js"></script> 
<script src="js/scrolltotop/totop.js"></script> 
<script src="js/mainmenu/jquery.sticky.js"></script> 
 
<script src="js/scripts/functions.js" type="text/javascript"></script>
</body>
</html>
